html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to left bottom, black, #2d2121);
}

.header {
  position: fixed;
  margin-top: 0;
  width:100%;
  height:10%;
  background: linear-gradient(to left top, #cae2e3, #ccffff);
  border-bottom: 2px solid #cae2e3;
}

.header__title {
  position: absolute;
  right: 2%;
  top: 15%;
  width: 80%;
  height: 100%;
  text-align: right;
}

.header__logo {
  position: absolute;
  left: 1%;
  height: 100%;

  text-align: left;
  opacity: 0.5;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7.5%;
  background: linear-gradient(to left top, #cae2e3, #ccffff);
}

.footer__tm {
  position: absolute;
  bottom: 20%;
  left: 1%;
}

.font__soccer {
  /* Soccer game, https://only-romano.github.io/soccer/ */

  /* Title font, color and textshadow */
  font-family: 'Blackadder ITC';
  color: #cae2e3;
  text-shadow: black 0 0 3px, #2d2121 2px 5px 5px;
  letter-spacing: 0.33em;
}
